Repository Giras91/AndroPOS, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ExtroTargetSdnBhd/LemonSquad, @LemonSquad, @Giras91

.github/CODEOWNERS:

# CODEOWNERS for AndroPOS
# Add exact GitHub usernames or team slugs (e.g. @my-org/android-team or @username)
# Replace the placeholder handles below with your real owners.


# App module owners
/app/ @ExtroTargetSdnBhd/LemonSquad @LemonSquad

# Feature modules
/modules/feature-product/ @ExtroTargetSdnBhd/LemonSquad @LemonSquad
/modules/feature-cart/ @ExtroTargetSdnBhd/LemonSquad @LemonSquad
/modules/feature-reports/ @ExtroTargetSdnBhd/LemonSquad @LemonSquad

# Shared data & common code
/shared-data/ @ExtroTargetSdnBhd/LemonSquad @LemonSquad

# Build and CI configs
/.github/ @ExtroTargetSdnBhd/LemonSquad @LemonSquad
/.github/workflows/ @ExtroTargetSdnBhd/LemonSquad @LemonSquad

# Default owners for everything else
/* @Giras91

# Notes:
# - Use team slugs for organization teams: @org/team-name
# - Use GitHub usernames for individuals: @username
# - Update this file with real owners before relying on CODEOWNERS enforcement.

chore(cleanup): remove legacy com.example Java stub and update docs
  .github/copilot-instructions.md
  README.md
  app/src/main/java/com/extrotarget/extropos/hardware/HardwareStubs.java
Owners: @ExtroTargetSdnBhd/LemonSquad, @LemonSquad, @Giras91

build: Java 21 toolchain + stabilize Kotlin 2.1.0 (force metadata), fix kapt issue, update README, clean namespace syntax
  README.md
  app/build.gradle
  build.gradle
  gradlew
  miniapp/build.gradle
  modules/feature-printer/build.gradle.kts
  settings.gradle
Owners: @Giras91, @ExtroTargetSdnBhd/LemonSquad, @LemonSquad

docs: add Kotlin forward upgrade plan + fix maven repo deprecation (jitpack url syntax)
  UPGRADE-KOTLIN.md
  build.gradle
Owners: @Giras91

build: introduce version catalog (libs.versions.toml) and refactor app & feature-printer deps
  app/build.gradle
  gradle/libs.versions.toml
  modules/feature-printer/build.gradle.kts
Owners: @ExtroTargetSdnBhd/LemonSquad, @LemonSquad

build(miniapp): migrate to version catalog aliases
  miniapp/build.gradle
Owners: none

chore(db): add Room exported schema JSON for versions 2 and 3
  app/schemas/com.extrotarget.extropos/2.json
  app/schemas/com.extrotarget.extropos/3.json
Owners: @ExtroTargetSdnBhd/LemonSquad, @LemonSquad

chore(db): add exported Room schema for version 1 (migration tests)
  app/schemas/com.extrotarget.extropos/1.json
Owners: @ExtroTargetSdnBhd/LemonSquad, @LemonSquad

chore(db): add Room schema assets for MigrationTestHelper (AppDatabase)
  app/schemas/com.extrotarget.extropos.data.local.AppDatabase/1.json
  app/schemas/com.extrotarget.extropos.data.local.AppDatabase/2.json
  app/schemas/com.extrotarget.extropos.data.local.AppDatabase/3.json
Owners: @ExtroTargetSdnBhd/LemonSquad, @LemonSquad

feat(printer): Implement printer management features including detection, configuration, and printing
  .kotlin/errors/errors-1760197390187.log
  .kotlin/errors/errors-1760215014454.log
  .kotlin/errors/errors-1760234255037.log
  .kotlin/errors/errors-1760239117318.log
  MINIAPP_INSTALLATION_GUIDE.md
  PORTRAIT_POS_DESIGN.md
  PRINTER_COMPILATION_SUCCESS.md
  PRINTER_SYSTEM_SUMMARY.md
  RECEIPT_CUSTOMIZATION_GUIDE.md
  app/schemas/com.extrotarget.extropos.data.local.AppDatabase/4.json
  logcat.txt
  miniapp/src/main/res/drawable/button_primary.xml
  miniapp/src/main/res/drawable/card_background.xml
  miniapp/src/main/res/values/styles.xml
  modules/feature-printer/src/main/java/com/extrotarget/extropos/printer/adapter/PrinterAdapterFactory.kt
  modules/feature-printer/src/main/java/com/extrotarget/extropos/printer/adapter/impl/DantSuEscPosAdapter.kt
  modules/feature-printer/src/main/java/com/extrotarget/extropos/printer/adapter/impl/StubPrinterAdapter.kt
  modules/feature-printer/src/main/java/com/extrotarget/extropos/printer/domain/catalog/PrinterSdkCatalog.kt
  modules/feature-printer/src/main/java/com/extrotarget/extropos/printer/domain/model/PrinterSdkCatalog.kt
  modules/feature-printer/src/main/java/com/extrotarget/extropos/printer/domain/service/PrinterConfigService.kt
  modules/feature-printer/src/main/java/com/extrotarget/extropos/printer/domain/service/PrinterDetectionService.kt
  modules/feature-printer/src/main/java/com/extrotarget/extropos/printer/domain/service/PrinterService.kt
  modules/feature-printer/src/main/java/com/extrotarget/extropos/printer/template/ReceiptTemplateBuilder.kt
  modules/feature-printer/src/main/java/com/extrotarget/extropos/printer/ui/PrinterManagementFragment.kt
  modules/feature-printer/src/main/java/com/extrotarget/extropos/printer/ui/PrinterManagementViewModelSimple.kt
  modules/feature-printer/src/test/java/com/extrotarget/extropos/printer/integration/PrinterIntegrationTest.kt
  scripts/run_ui_dialog_flows_test.sh
Owners: @Giras91, @ExtroTargetSdnBhd/LemonSquad, @LemonSquad

dev: enable fallbackToDestructiveMigration in AppDatabase to avoid Room migration crash during development (temporary)
  app/src/main/java/com/extrotarget/extropos/data/local/AppDatabase.kt
  app/src/main/java/com/extrotarget/extropos/printer/data/IPrinterLocalRepository.kt
  app/src/main/java/com/extrotarget/extropos/printer/data/IPrinterScanner.kt
  app/src/main/java/com/extrotarget/extropos/printer/data/PrinterDao.kt
  app/src/main/java/com/extrotarget/extropos/printer/data/PrinterEntity.kt
  app/src/main/java/com/extrotarget/extropos/printer/data/PrinterLocalRepository.kt
  app/src/main/java/com/extrotarget/extropos/printer/data/PrinterScannerImpl.kt
  app/src/test/java/com/extrotarget/extropos/printer/PrinterSetupViewModelTest.kt
Owners: @ExtroTargetSdnBhd/LemonSquad, @LemonSquad

Fix MIGRATION_8_9 DDL to match exported schema; add CI migration test workflow and docs; align kotlinx.serialization versions
  .github/workflows/migration-test.yml
  app/build.gradle
  app/src/main/java/com/extrotarget/extropos/data/local/AppDatabase.kt
  docs/MIGRATION_8_9.md
  modules/feature-printer/build.gradle.kts
Owners: @ExtroTargetSdnBhd/LemonSquad, @LemonSquad

Docs: add run instructions and CI notes for MIGRATION_8_9
  docs/MIGRATION_8_9.md
Owners: none
